doctype html5
html(ng-app='example')
  head
    meta(charset='utf8')
    base(href='/')
    title MongoDB / Mongoose example
    
    link(rel='stylesheet', href='/vendor/foundation/css/foundation.css')
  body
    nav(data-topbar, role='navigation').top-bar
        ul.title-area
            li.name
                h1
                    a(ui-sref="main") Etusivu
            li.toggle-topbar.menu-icon
                a(ui-sref="main")
                    span Menu
        section.top-bar-section
            ul.left
                li
                    a(ui-sref="add") Lisää
                li
                    a(ui-sref="list") Listaa
                li
                    a(ui-sref="bigdata") Big Data
    .container
        div(ng-view)

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/foundation/js/foundation.min.js')
    script(src='/js/app.min.js')