body
{
    background-image: url("/img/bg.png");
}

.container
{
    background-color: #fff;
}

table
{
    border-collapse: collapse;
}

table tr.even, table tr.alt, table tr:nth-of-type(2n)
{
    background: #f2f2f2;
}

input.searchbar
{
    max-width: 30em;
}

hide
{
    display: none;
}

table tr.even.alert, table tr.alt.alert, table tr.alert
{
    background: #ffafaf;
}

table tr.even.alert, table tr.alt.alert, table tr.alert + tr.alert:nth-of-type(2n), table tr:not(.alert) + tr.alert:nth-of-type(2n)
{
    background: #ff8a8a;
}

input[role="required"], input[role="required"]:focus
{
    border-bottom-color: rgb(255, 0, 0);
    border-bottom-width: 2px;
}

.red
{
    color: rgb(255,0, 0);
}

.alertPanel
{
    position: absolute;
    float: left;
    top: 35%;
    margin-top: -100px;
    height: 200px;
    width: 100%;
    background-color: rgba(0,0,0, .8);
    color: #fff;
    z-index: 99999999999;
}

.alertPanel h1, .alertPanel h3
{
    color: #fff;
}

div.panel > i.fa
{
    margin-right: 0.5em;
}

div.panel
{
    background-color: #23241F;
    color: #fff;
}

code
{
    border: 0; !import
    background-color: inherit; !import
}