<div class="row">
    <div class="medium-12 medium-centered columns">
        <h1>Lisää</h1>
        <form method="post">
            <div class="row">
                <div class="medium-8 medium-centered columns">
                    <label>Nimi
                        <input type="text" name="name" ng-model="person.name" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 medium-centered columns">
                    <label>Ammatti
                        <input type="text" name="job" ng-model="person.job" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 medium-centered columns">
                    <button type="submit" ng-click="add(person)">Lisää</button>
                </div>
            </div>
        </form>
    </div>
</div>