<div class="row">
    <div class="small-12 small-centered columns">
        <h2><i class="fa fa-info"></i> Kaikki tiedot</h2>
        <div class="row">
            <tabset vertical="true" type="navType">
                <tab>
                    <tab-heading><i class="fa fa-suitcase"></i> Yritys</tab-heading>
                    <h3>Yritys</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Asiakasnumero</th>
                                <th>Nimi</th>
                                <th>Y-Tunnus</th>
                                <th>Osoite</th>
                                <th>Postinumero</th>
                                <th>Postitoimipaikka</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{company.yritys.asiakasnumero}}</td>
                                <td>{{company.yritys.nimi}}</td>
                                <td>{{company.yritys.ytunnus}}</td>
                                <td>{{company.yritys.osoite}}</td>
                                <td>{{company.yritys.postinumero}}</td>
                                <td>{{company.yritys.postitoimipaikka}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>

                <tab>
                    <tab-heading><i class="fa fa-lock"></i> S3</tab-heading>
                    <h3>S3</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Käyttäjätunnus</th>
                                <th>Salasana</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{company.s3.kayttajatunnus}}</td>
                                <td>{{company.s3.salasana}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>

                <tab>
                    <tab-heading><i class="fa fa-tty"></i> Yhteyshenkilöt</tab-heading>
                    <h3>Yhteyshenkilöt</h3>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Etunimi</th>
                                <th>Sukunimi</th>
                                <th>Puhelinnumero</th>
                                <th>Sähköposti</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>{{company.yhteyshenkilo1.etunimi}}</td>
                                <td>{{company.yhteyshenkilo1.sukunimi}}</td>
                                <td>{{company.yhteyshenkilo1.puhelinnumero}}</td>
                                <td>{{company.yhteyshenkilo1.sahkoposti}}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>{{company.yhteyshenkilo2.etunimi}}</td>
                                <td>{{company.yhteyshenkilo2.sukunimi}}</td>
                                <td>{{company.yhteyshenkilo2.puhelinnumero}}</td>
                                <td>{{company.yhteyshenkilo2.sahkoposti}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>

                <tab>
                    <tab-heading><i class="fa fa-list-alt"></i> Hinnasto</tab-heading>
                    <h3>Hinnasto</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Aika</th>
                                <th>Hinta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>7 pv</td>
                                <td>{{company.hinnasto.h7pv}}</td>
                            </tr>
                            <tr>
                                <td>10 pv</td>
                                <td>{{company.hinnasto.h10pv}}</td>
                            </tr>
                            <tr>
                                <td>14 pv</td>
                                <td>{{company.hinnasto.h14pv}}</td>
                            </tr>
                            <tr>
                                <td>21 pv</td>
                                <td>{{company.hinnasto.h21pv}}</td>
                            </tr>
                            <tr>
                                <td>30 pv</td>
                                <td>{{company.hinnasto.h30pv}}</td>
                            </tr>
                            <tr>
                                <td>45 pv</td>
                                <td>{{company.hinnasto.h45pv}}</td>
                            </tr>
                            <tr>
                                <td>60 pv</td>
                                <td>{{company.hinnasto.h60pv}}</td>
                            </tr>
                            <tr>
                                <td>90 pv</td>
                                <td>{{company.hinnasto.h90pv}}</td>
                            </tr>
                            <tr>
                                <td>Erikoishinta</td>
                                <td>{{company.hinnasto.erikoishinta}}</td>
                            </tr>
                            <tr>

                                <td>Hall. palkkio</td>
                                <td>{{company.hinnasto.hallpalkkio}}</td>
                            </tr>
                            <tr>

                                <td>Vuosipalkkio</td>
                                <td>{{company.hinnasto.vuosipalkkio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>

                <tab>
                    <tab-heading><i class="fa fa-group"></i> Takaajat</tab-heading>
                    <h3>Takaajat</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Takaussumma</th>
                                <th>Voimassaolo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{company.takaussumma}}</td>
                                <td>{{company.takauksenvoimassaolo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Etunimi</th>
                                <th>Sukunimi</th>
                                <th>Hetu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>{{company.takaaja1.etunimi}}</td>
                                <td>{{company.takaaja1.sukunimi}}</td>
                                <td>{{company.takaaja1.hetu}}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>{{company.takaaja2.etunimi}}</td>
                                <td>{{company.takaaja2.sukunimi}}</td>
                                <td>{{company.takaaja2.hetu}}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>{{company.takaaja3.etunimi}}</td>
                                <td>{{company.takaaja3.sukunimi}}</td>
                                <td>{{company.takaaja3.hetu}}</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>{{company.takaaja4.etunimi}}</td>
                                <td>{{company.takaaja4.sukunimi}}</td>
                                <td>{{company.takaaja4.hetu}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>

                <tab>
                    <tab-heading><i class="fa fa-file-text-o"></i> Muita tietoja</tab-heading>
                    <h3>Muita tietoja</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Myyjä</th>
                                <th>Käsittelijä</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{company.myyja}}</td>
                                <td>{{company.kasittelija}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Viimeksi muokattu</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Muokkaaja</th>
                                <th>Aika</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{company.muokkaaja.username}}</td>
                                <td>{{localTime(company.muokattu)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
        <div class="row">
            <hr />
            <div class="medium-12 medium-centered">
                <div class="clearfix">
                    <%if (user.admin) { %>
                    <td><a href="#/company/edit/{{company._id}}" class="left button small"><i class="fa fa-edit"></i> Muokkaa</a></td>
                    <% } %>
                    <a ng-click="prevPage()" class="right button small"><i class="fa fa-arrow-left"></i> Taikaisin</a>
                </div>
            </div>
        </div>
    </div>
</div>