<%if (user.admin) { %>
<div class="row">
    <div class="small-12 small-centered columns">
        <h2><i class="fa fa-edit"></i> Muokkaa</h2>
        <form name="form" novalidate>
            <div class="row">
                <div id="alertArea">
                    <div class="alert-box alert" ng-hide="!errorMessage">{{ errorMessage }}</div>
                    <div class="alert-box succees" ng-hide="!successMessage">{{ successMessage }}</div>
                </div>
                <tabset vertical="true" type="navType">
                    <tab>
                        <tab-heading><i class="fa fa-suitcase"></i> Yritys <i class="fa fa-exclamation red" ng-show="form.cAsiakasnumero.$invalid || form.cName.$invalid || form.cCompanyid.$invalid"></i></tab-heading>
                        <h3>Yritys</h3>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Asiakasnumero</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="cAsiakasnumero" ng-model="company.yritys.asiakasnumero" placeholder="Asiakasnumero" role="required" required>
                                <small class="error" ng-show="form.cAsiakasnumero.$invalid">Asiakasnumero puuttuu</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Nimi</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="cName" ng-model="company.yritys.nimi" placeholder="Yrityksen nimi" role="required" required>
                                <small class="error" ng-show="form.cName.$invalid">Yrityksen nimi puuttuu</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Y-Tunnus</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="cCompanyid" ng-model="company.yritys.ytunnus" placeholder="Yrityksen y-tunnus" role="required" required>
                                <small class="error" ng-show="form.cCompanyid.$invalid">Y-Tunnus puuttuu</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Osoite</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="address" ng-model="company.yritys.osoite" placeholder="Yrityksen osoite">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Postinumero</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="zip" ng-model="company.yritys.postinumero" placeholder="Yrityksen postinumero">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Postitoimipaikka</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="postoffice" ng-model="company.yritys.postitoimipaikka" placeholder="Yrityksen postitoimipaikka">
                            </div>
                        </div>
                    </tab>
                    
                    <tab>
                    <tab-heading><i class="fa fa-lock"></i> S3</tab-heading>
                        <h3>S3</h3>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Käyttäjätunnus</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.s3.kayttajatunnus" placeholder="Käyttäjätunnus">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Salasana</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.s3.salasana" placeholder="Salasana">
                            </div>
                        </div>
                    </tab>
                    
                    <tab>
                        <tab-heading><i class="fa fa-tty"></i> Yhteyshenkilöt</tab-heading>
                        <h3>Yhteyshenkilöt</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Etunimi</th>
                                    <th>Sukunimi</th>
                                    <th>Puhelinnumero</th>
                                    <th>Sähköposti</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo1.etunimi" placeholder="Etunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo1.sukunimi" placeholder="Sukunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo1.puhelinnumero" placeholder="Puhelinnumero"></td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo1.sahkoposti" placeholder="Sähköposti"></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo2.etunimi" placeholder="Etunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo2.sukunimi" placeholder="Sukunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo2.puhelinnumero" placeholder="Puhelinnumero"></td>
                                    <td><input type="text" name="name" ng-model="company.yhteyshenkilo2.sahkoposti" placeholder="Sähköposti"></td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
                    
                    <tab>
                        <tab-heading><i class="fa fa-list-alt"></i> Hinnasto</tab-heading>
                        <h3>Hinnasto</h3>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">7 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h7pv" placeholder="7 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">10 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h10pv" placeholder="10 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">14 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h14pv" placeholder="14 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">21 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h21pv" placeholder="21 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">30 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h30pv" placeholder="30 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">45 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h45pv" placeholder="45 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">60 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h60pv" placeholder="60 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">90 pv</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.h90pv" placeholder="90 pv">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Erikoishinta</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.erikoishinta" placeholder="Erikoishinta">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Hall. palkkio</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.hallpalkkio" placeholder="Hall. Palkkio">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Vuosipalkkio</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.hinnasto.vuosipalkkio" placeholder="Vuosipalkkio">
                            </div>
                        </div>
                    </tab>
                    
                    <tab>
                        <tab-heading><i class="fa fa-group"></i> Takaajat</tab-heading>
                        <h3>Takaajat</h3>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Takaussumma</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="name" ng-model="company.takaussumma" placeholder="Takaussumma">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Voimassaolo</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" pikaday="myDatePicker" ng-model="company.takauksenvoimassaolo" format="DD.MM.YYYY" name="name" placeholder="Takauksen voimassaolo">
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Etunimi</th>
                                    <th>Sukunimi</th>
                                    <th>Hetu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type="text" name="name" ng-model="company.takaaja1.etunimi" placeholder="Etunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja1.sukunimi" placeholder="Sukunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja1.hetu" placeholder="Hetu"></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><input type="text" name="name" ng-model="company.takaaja2.etunimi" placeholder="Etunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja2.sukunimi" placeholder="Sukunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja2.hetu" placeholder="Hetu"></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><input type="text" name="name" ng-model="company.takaaja3.etunimi" placeholder="Etunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja3.sukunimi" placeholder="Sukunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja3.hetu" placeholder="Hetu"></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><input type="text" name="name" ng-model="company.takaaja4.etunimi" placeholder="Etunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja4.sukunimi" placeholder="Sukunimi"></td>
                                    <td><input type="text" name="name" ng-model="company.takaaja4.hetu" placeholder="Hetu"></td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
                    
                    <tab>
                        <tab-heading><i class="fa fa-file-text-o"></i> Muita tietoja <i class="fa fa-exclamation red" ng-show="form.cMyyja.$invalid || form.cKasittelija.$invalid"></i></tab-heading>
                        <h3>Muita tietoja</h3>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Myyjä</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="cMyyja" ng-model="company.myyja" placeholder="Myyjä" role="required" required>
                                <small class="error" ng-show="form.cMyyja.$invalid">Myyjä puuttuu</small>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">Käsittelijä</span>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" name="cKasittelija" ng-model="company.kasittelija" placeholder="Käsittelijä" role="required" required>
                                <small class="error" ng-show="form.cKasittelija.$invalid">Käsittelijä puuttuu</small>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="row">
                <hr />
                <div class="medium-12 medium-centered">
                    <div class="clearfix">
                        <div class="left button-group">
                        <button type="button" ng-click="update(company)" ng-disabled="form.$invalid || isUnchanged(company)" class="button small success"><i class="fa fa-edit"></i> Muokkaa</button>
                        <button type="button" ng-click="remove()" class="button small alert"><i class="fa fa-trash"></i> Poista</button>
                        </div>
                        <a ng-click="prevPage()" class="right button small"><i class="fa fa-arrow-left"></i> Taikaisin</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<% } %>
<%if (user.admin == false) { %>
    <div class="alert-box alert">Valitettavasti sinulla ei ole oikeutta käyttää tätä ominaisuutta!</div>
<% } %>