<%if (user.admin) { %>
<div class="row">
    <div class="small-6 small-centered columns">
        <h2><i class="fa fa-trash"></i> Poista</h2>
        <form>
            <div class="row">
                <div id="alertArea">
                    <div class="alert-box alert" ng-hide="!errorMessage">{{ errorMessage }}</div>
                    <div class="alert-box succees" ng-hide="!successMessage">{{ successMessage }}</div>
                </div>
                <h3>Yrityksen nimi: {{company.yritys.nimi}}</h3>
                <h4>Asiakasnumero: {{company.yritys.asiakasnumero}}</h4>
                <h4>Y-Tunnus: {{company.yritys.ytunnus}}</h4>
                <p>Haluatko varmasti poistaa yrityksen?</p>
            </div>
            <div class="row">
                <hr />
                <div class="medium-12 medium-centered">
                    <div class="clearfix">
                        <button type="button" ng-click="remove()" class="left button small alert"><i class="fa fa-trash"></i> Poista</button>
                        <a ng-click="prevPage()" class="right button small"><i class="fa fa-arrow-left"></i> Taikaisin</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<% } %>
<%if (user.admin == false) { %>
    <div class="alert-box alert">Valitettavasti sinulla ei ole oikeutta käyttää tätä ominaisuutta!</div>
<% } %>